#ventprincipal{
    width:100%;
    border:1px solid black;
    margin:0 auto;
    background:pink;
    padding:5px;
}

#izq{
    display:flex;
    margin:10px;
    justify-content:flex-start;
}

#der{
    display:flex;
    margin:10px;
    justify-content:flex-end;
}

#header{
    height: 35px;
    border:1px solid black;
    text-align: center;
    background-color:white;
    margin:5px;
}

.sidebar{
    width: 50%;
    background-color: white;
    text-align: center;
}

#main{
    background-color:white;
    border:1px solid black;
    margin:5px;
    padding:5px;
}

.footer{
    height: 35px;
    background-color: purple;
    border:1px solid black;
    margin-top:3px;
}

.clear{
    clear:both;
}