#header{
    height: 70px;
    text-align: center;
    background-color:pink;
    border:1px solid black;
}

#ventprincipal{
    display:flex;
    width:100%;
    height: 100%;
    margin:0 auto;
    flex-direction:row;
}

#col1{
    position: relative;
    display:flex;
    width:30%;
    flex-direction: column;
    float:left;
    border-width: 0px 0px 1px 1px;
    border-color: black;
    border-style: solid;
}

#col2{
    display: flex;
    width:70%;
    flex-direction: column;
    float:left;
    border-width: 0px 1px 0px 1px;
    border-color: black;
    border-style: solid;
}

#menu1{
    text-align: center;
    display:flex;
    border-width: 1px 0px 1px 0px;
    border-color: black;
    border-style: solid;
    flex-direction: column;
}

#menu2{
    position: absolute;
    bottom:0;
    left: 0;
    font-weight: bold;
    padding: 10px;
    width: 50%;
}

#caja{
    display:flex;
    border-width: 1px 0px 1px 0px;
    border-color: black;
    border-style: solid;
    flex-direction: row;
    text-align: center;
}

#cajaint1{
    width:33%;
    margin:10px;
    font-size: 15px;
    text-align: center;
}

#cajaint2{
    width:33%;
    margin:10px;
    font-size: 15px;
    text-align: center;
}

#cajaesp{
    width:33%;
    margin:10px;
    text-align: center;
}

#cajaint3{
    width:100%;
    font-size: 15px;
    text-align: center;
}

.clear{
    clear:both;
}

img{
    height:auto;
    width:70%;
}

@media(max-width:500px){

    #ventprincipal{
        width:100%;
        display:flex;
        flex-direction:column;
    }

    #header{
        width: 100%;
    }

    #col1{
        width:100%;
        border-width: 0px 1px 0px 1px;
    }

    #col2{
        width:100%;
    }

    #menu1{
        display:flex;
        flex-direction: row;
        height:40px;
    }

    #menu2{
        position: fixed;
        right: 0;
        left:auto;
        background:lightblue;
        opacity: 0.8;
    }

    #caja{
        width: 100%;
        display:flex;
        flex-direction: column;
    }

    #cajaint1{
        width:100%;
        font-size: 10px;
    }

    #cajaint2{
        width:50%;
        font-size: 10px;
    }

    #cajaesp{
        display:flex;
        width: 100%;
        justify-content:flex-end;
        font-size: 10px;
    }

    #cajaint3{
        width:50%;
        font-size: 10px;
        margin-right: 20px;
    }

    img{
        height:auto;
        width:90%;
    }

}