#ventprincipal{
    width:850px;
    border:1px solid black;
    margin:0 auto;
}

#col1{
    width:200px;
    border:1px solid black;
    margin:10px;
    float:left
}

#col2{
    width:605px;
    border:1px solid black;
    margin:10px;
    float:left
}

.clear{
    clear:both;
}