#ventprincipal{
    width:850px;
    margin:0 auto;
}

#col1{
    width:25%;
    margin:3px;
    float:left
}

#col2{
    width:65%;
    margin:3px;
    float:left
}

#colint1{
    width:25%;
    float:left
}

#colint2{
    width:72%;
    float:left
}

.header{
    height: 35px;
    border:1px solid green;
    margin:3px;
}

.sidebar{
    height: 269px;
    border:1px solid  red;
    margin:3px;
}

.main{
    height:500px;
    margin:3px;
    border:1px solid blue;
}

.footer{
    height: 35px;
    border:1px solid purple;
    margin:3px;
}

.clear{
    clear:both;
}